# Node.js
node_modules/
npm-debug.log

# Solidity
artifacts/
cache/
*.log

# Mobile
*.apk
*.ipa
*.xcuserstate

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
out/

# Wallets
*.key
*.pem
*.json
